.answerButton {
  transition: all 0.4s;
}

.answerButton--false {
  color: #f44336;
  border: 1px solid currentColor;
  opacity: 0.2;
}

.answerButton--false:hover {
  color: #f44336;
  border-color: currentColor;
}

.answerButton--true {
  color: #4caf50;
  border: 1px solid currentColor;
  transform: scale(1.1);
}

.answerButton--true:hover {
  color: #4caf50;
  border-color: currentColor;
}

.answerButton--pulse {
  animation: pulse infinite 1s;
}

.slideInFromRight {
  animation: slideInFromRight 0.4s;
}

.fadeIn {
  animation: fadeIn 0.4s;
}

@keyframes slideInFromRight {
  from { opacity: 0; transform: translate3d(100%,0, 100vw); }
  to { opacity: 1; transform: translate3d(0,0,0); }
}

@keyframes slideUp {
  from { opacity: 0; transform: translate3d(0,100%, 100vw); }
  to { opacity: 1; transform: translate3d(0,0,0); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes pulse {
  0% { transform: scale(0.9); }
  50% { transform: scale(1); }
  100% { transform: scale(0.9); }
}
