.staffDiagram {
  height: 75px;
  position: relative;
}

.staffDiagram__background,
.staffDiagram__foreground {
  position: absolute;
  height: 100%;
  width: 100%;
}

.staffDiagram__foreground {
  /*display: flex;*/
}

.staffDiagram__line {
  height: calc(25% - 2px);
  border-bottom: 1px solid black;
}

.staffDiagram__line:first-of-type {
  border-top: 1px solid black;
}

.staffDiagram__pitch {
  position: absolute;
  height: 20%;
  width: 10%;
  background: black;
  border-radius: 50%;
  font-size: 0.65em;
  color: white;
}

/*set note content*/
.staffDiagram__pitch.c:after {
  content: 'C';
}
.staffDiagram__pitch.cSharp:after {
  content: 'C#';
}
.staffDiagram__pitch.cFlat:after {
  content: 'Cb';
}
.staffDiagram__pitch.d:after {
  content: 'D';
}
.staffDiagram__pitch.dSharp:after {
  content: 'D#';
}
.staffDiagram__pitch.dFlat:after {
  content: 'Db';
}
.staffDiagram__pitch.e:after {
  content: 'E';
}
.staffDiagram__pitch.eSharp:after {
  content: 'E#';
}
.staffDiagram__pitch.eFlat:after {
  content: 'Eb';
}
.staffDiagram__pitch.f:after {
  content: 'F';
}
.staffDiagram__pitch.fSharp:after {
  content: 'F#';
}
.staffDiagram__pitch.fFlat:after {
  content: 'Fb';
}
.staffDiagram__pitch.g:after {
  content: 'G';
}
.staffDiagram__pitch.gSharp:after {
  content: 'G#';
}
.staffDiagram__pitch.gFlat:after {
  content: 'Gb';
}
.staffDiagram__pitch.a:after {
  content: 'A';
}
.staffDiagram__pitch.aSharp:after {
  content: 'A#';
}
.staffDiagram__pitch.aFlat:after {
  content: 'Ab';
}
.staffDiagram__pitch.b:after {
  content: 'B';
}
.staffDiagram__pitch.bSharp:after {
  content: 'B#';
}
.staffDiagram__pitch.bFlat:after {
  content: 'Bb';
}

/*set note placement*/
.staffDiagram__pitch.c4 {
  top: 105%;
}

.staffDiagram__pitch.f3::before
.staffDiagram__pitch.a3::before,
.staffDiagram__pitch.c4::before,
.staffDiagram__pitch.a5::before,
.staffDiagram__pitch.c6::before{
  position: absolute;
  width: 150%;
  top: 50%;
  left: -25%;
  content: '';
  border-bottom: 1px solid black;
  z-index: -1;
}

.staffDiagram__pitch.d4 {
  top: 95%;
}

.staffDiagram__pitch.e4 {
  top: 85%;
}

.staffDiagram__pitch.f4 {
  top: 73%;
}

.staffDiagram__pitch.g4 {
  top: 62%;
}

.staffDiagram__pitch.a4 {
  top: 50%;
}

.staffDiagram__pitch.b4 {
  top: 38%;
}

.staffDiagram__pitch.c5 {
  top: 26%;
}

.staffDiagram__pitch.d5 {
  top: 13%;
}

.staffDiagram__pitch.e5 {
  top: 2%;
}

.staffDiagram__pitch.f5 {
  top: -10%;
}

.staffDiagram__pitch.g5 {
  top: -20%;
}

.staffDiagram__pitch.a5 {
  top: -32%;
}

.staffDiagram__pitch.b5 {
  top: -44%;
}

.staffDiagram__pitch.c6 {
  top: -56%;
}
